ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(85, 107, 47);
}

ul li {
  float:left;
  font-size:20px;
}

ul li a {
  display: block;
  color: rgb(255,248,220);
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff44;
}


body{
  margin:0;
  padding:0;
  background-image: url("https://images.pexels.com/photos/1603901/pexels-photo-1603901.jpeg?cs=srgb&dl=pexels-rajesh-tp-749235-1603901.jpg&fm=jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  margin-bottom:0;
  height:100vh;
  width:100%;
}

#title{
    text-align:center;
    color:rgb(255,248,220);
}

td {
  padding-top: 5px;    /* Adds space above the content in each cell */
  padding-bottom: 5px; /* Adds space below the content in each cell */
}

.Items{
  display:flex;
  justify-content:space-between;
  background-color:rgba(216, 212, 212, 0.808);
  margin-right:100px;
  margin-left:100px;
  color:rgb(85, 107, 47);
  border-radius:10px;
}
h2{
  text-align:center;
}